.workspace {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.workspace > div {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  height: 85vh;
  width: 100%;
  overflow: scroll;
}

.overview {
  background-color: rgba(0, 0, 127, 0.1);
}

.detail {
  background-color: rgba(0, 127, 0, 0.1);
}

.item {
  height: fit-content;
  padding: 4px;
}

.folder-icon {
  background-color: goldenrod;
}

.item-icon {
  background-color: lightgray;
}
